
body {
}


.app {
}


.appTitle {
    width: 150px;
    height: 150px;
    background-color: burlywood;
    margin: auto;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border:1px red dotted;
}
